* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

.block {
  background-color: white;

  border-radius: 25px;
  box-shadow: 2px;
  width: 80%;
}

.name {
  font-weight: bold;
  font-size: 30px;
}
.submitbtn {
  text-decoration: none;
  color: white;
}

.submitbtn:hover {
  text-decoration: none;
  color: white;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Heading {
  color: #ef4e7b;
  font-size: 45px;
  font-weight: bold;
  margin: auto;
}
